<!DOCTYPE html>
<html>
  <head>
    <title>Reset Your Password</title>
  </head>
  <body>  {{site_name}}
      <h1 class="title">Finance App</h1>
      <p style="font-size: 17px">Dear {{user_email}}</p>
      <p style="font-size: 17px"> Your code is:</p>
      <p style="font-size: 25px; font-weight: bold; letter-spacing: 5px;">{{number}}</p>
      <p style="font-size: 17px">Use it to reset your password</p>
      <p style="font-size: 17px">Yours,</p>
      <p style="font-size: 17px">{{site_name}}</p>
  </body>
</html>